langchain
langchain-community
langchain-chroma
langchain-text-splitters    
flask
chromadb
pdfplumber
tiktoken
unstructured
pypdf
python-dotenv
numpy
pandas
ipykernel
pinecone
streamlit
deep-translator
SpeechRecognition
gTTS 
audio_recorder_streamlit
pydub
